
/*ここからindex.blade.phpのCSS*/
.center{
    text-align: center;
}

.profile-index{
    border:solid 2px black;
    text-align: center;
}

.image-index, .image_search{
    width: 40%;
    height: 160px;
    display: inline-block;
}

.search{
    text-align: center;
}
/*ここからshow.blade.phpのCSS*/

.profile-show{
    text-align: center;
}
.image-show{
    display: inline-block;
    height:30%;
    width:30%;
}

.general-transition{
    text-align: center;
}

/*ここからwelcome.blade.phpのCSS*/
.welcome{
    text-align: center;
}
a.btn-border-1 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  padding:30px;
  margin-top:50px;
  margin-bottom: 50px;
}

a.btn-border-1:hover {
  color:#fff ;
  font-weight:bold;
  background: #e2041b;
}
a.btn-border-2 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  padding:30px;
  margin-top:50px;
  margin-bottom: 50px;
}

a.btn-border-2:hover {
  color:#fff ;
  font-weight:bold;
  background: #2ca9e1;
}

.transition {
    margin:0 auto;
    display: inline-block;
}


a.btn-border-3 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  margin-top:50px;
  margin-bottom: 50px;
  padding:30px;
}

a.btn-border-3:hover {
  color:#fff ;
  font-weight:bold;
  background: #028760;
}

a.btn-border-4 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  margin-top:50px;
  margin-bottom: 50px;
  padding:30px;
}

a.btn-border-4:hover {
  color:#000 ;
  font-weight:bold;
  background: #ffdb4f;
}