
/*ここからindex.blade.phpのCSS*/
.center{
    text-align: center;
    margin: 30px 0px;
}

.profile-index{
    background-color:#fafad2;/*背景色*/
    border:1px solid #ffd700;/*枠線*/
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);/*影*/
    color:#000000;/*文字色*/
    text-align: center;
}

.image-index, .image_search{
    width: 40%;
    height: 160px;
    display: inline-block;
}

.search{
    text-align: center;
}
/*ここからshow.blade.phpのCSS*/

.profile-show{
    text-align: center;
}
.image-show{
    display: inline-block;
    height:30%;
    width:30%;
}

.general-transition{
    text-align: center;
}

.profile-search-button{
  text-align: center;
  margin-bottom: 30px;
}

/*ここからwelcome.blade.phpのCSS*/
.welcome{
    text-align: center;
}
a.btn-border-1 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  padding:30px;
  margin-top:50px;
  margin-bottom: 50px;
}

a.btn-border-1:hover {
  color:#fff ;
  font-weight:bold;
  background: #e2041b;
}
a.btn-border-2 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  padding:30px;
  margin-top:50px;
  margin-bottom: 50px;
}

a.btn-border-2:hover {
  color:#fff ;
  font-weight:bold;
  background: #2ca9e1;
}

.transition {
    margin:0 auto;
    display: inline-block;
}


a.btn-border-3 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  margin-top:50px;
  margin-bottom: 50px;
  padding:30px;
}

a.btn-border-3:hover {
  color:#fff ;
  font-weight:bold;
  background: #028760;
}

a.btn-border-4 {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  font-size:150%;
  margin-top:50px;
  margin-bottom: 50px;
  padding:30px;
}

a.btn-border-4:hover {
  color:#000 ;
  font-weight:bold;
  background: #ffdb4f;
}

/*ここからchat.blade.php*/

.navy-box{
  text-align:center;
  font-size:24px;
  padding:20px 0px;
  margin:0 auto;
  max-width: 100%;
  font-weight: bold;
  color:#fff;
  background-color:#0f1a33;
  border:solid black 2px;
}
.background-chat{
    background: #7da4cd;
}

.line-bc {
  max-width: 900px;
  min-height: 100vh;
  padding:10px;
  margin:auto;
  font-size: 14px;
  background: #7da4cd;

}

.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}

/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
  text-align: left;
}

.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.back-to-profile{
  text-align: center;
  font-weight:bold;
  
}

/*ここからcreate.blade.php*/
.nickname{
  text-align: center;
  width:600px;
  margin:auto;
  margin-top:20px;
}

.sex{
  text-align: center;
  width:600px;
  margin:25px auto;
}

.age{
  text-align: center;
  width:600px;
  margin:25px auto;
}

.prefecture{
  text-align: center;
  width:600px;
  margin:35px auto;
}

.instrument{
  text-align: center;
  width:600px;
  margin:50px auto;
}

.genre{
  text-align: center;
  width:600px;
  margin:50px auto;
}

.musical_experience{
  text-align: center;
  width:600px;
  margin:30px auto;
}
.message{
  text-align: center;
  width:600px;
  margin:0px auto;
}

.image{
  text-align: center;
  margin:50px auto;
}

.button{
  text-align: center;
}

.back-to-home{
  text-align: center;
  font-weight:bold;
  padding-top:30px;
}

